body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.ali{color:orange}

.width{
    width: 50%;
    padding:2%;
}
.width img{
    width:70%;
}
.link{
    color:white;
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato, gold);
    font-weight: 700;
    padding:10px 40px;
    border-radius:8px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 120px;
    display: flex;
}
.linkfb{
    color:white;
    text-decoration: none;
    background-color:orange;
    background-image: linear-gradient(rgb(238, 31, 238), rgb(241, 57, 57), rgb(0, 0, 0));
    font-weight: 700;
    padding:10px 40px;
    border-radius: 8px;
}
.background-img{
    background-image: url(images/another-banner.png);
    background-repeat: no-repeat;
    background-position: right;
}
.alivai{
    display: flex;
}
.new{
    display:flex;

}
.sei{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    
    border-radius: 8px;
}
#tui{
    border-right: 8px solid;
    border-bottom:8px solid;
    border-radius: 8px;
    border-image: linear-gradient(blue,cyan, gold,skyblue);
    border-image-slice: 1;

}
#vai{
    border-left: 8px solid;
    border-top:8px solid;
    border-radius: 8px;
    border-image: linear-gradient(purple,red, salmon,cyan);
    border-image-slice: 1;

}
footer p{
    text-align: center;
}
#yo{
    color: red;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}



