body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.ali{color:orange}
section{
    display:flex;
}
.width{
    width: 50%;
    padding:2%;
}
.width img{
    width:70%;
}
.link{
    color:white;
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato, gold);
    font-weight: 700;
    padding:10px 40px;
    border-radius:8px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.linkfb{
    color:white;
    text-decoration: none;
    background-color:orange;
    background-image: linear-gradient(rgb(238, 31, 238), rgb(241, 57, 57), rgb(0, 0, 0));
    font-weight: 700;
    padding:10px 40px;
    border-radius: 8px;
}
.background-img{
    background-image: url(images/another-banner.png);
    background-repeat: no-repeat;
    background-position: right;
}
